
.container{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: aqua;
    height: 50px;
    align-items: center;
    gap: 60px


}
.item {
  /* flex-grow: 1;
  flex-shrink: 1;
    flex-basis: 0; */
    align-self: center;
}

